.headerContainer {
  width: 100%;
  height: 50px;
  position: fixed;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 100px;
}

.navLink {
  text-decoration: none;
  color: #e3dbdb;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.navLink:hover {
   font-size: 26px;
   color: #ffffff;
 }

.navLink[aria-current='page'] {
  color: #3470FF;
}



