.headerContainer {
  /*position: fixed;*/
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2028;


}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 100px;
  overflow: hidden;
}

.navLink {
  text-decoration: none;
  color: #e3dbdb;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: font-size 0.3s ease, color 0.3s ease;
  overflow: hidden;
}

.navLink:hover {
   font-size: 22px;
   color: #ffffff;
 }

.navLink[aria-current='page'] {
  color: #3470FF;
}



